body {
  background-size: cover;
  background-repeat: no-repeat;
  z-index:-1 !important;
}

/* #sun {
  position:relative;
  height: 200px;
  width: 200px;
  left: 520px;
  bottom: -220px;
} */

#mercury {
  position: relative;
  height: 25px;
  width: 25px;
  left: 540px; 
  bottom: -180px;
}

#venus {
  position: relative;
  height: 30px;
  width: 30px;
  left: 550px; 
    bottom: -90px;
}

/* #earth {
  position: relative;
  height: 30px;
  width: 30px;
  right: -420px; 
  bottom: 15px;
} */

#mars {
  position: relative;
  height: 25px;
  width: 25px;
  left: 170px; 
  bottom: -250px;
}

#jupiter {
  position: relative;
  height: 130px;
  width: 130px;
  left: 500px; 
  bottom: -450px;
}

#saturn {
  position: relative;
  height: 60px;
  width: 80px;
  left: 665px; 
  bottom: -310px; 
}

#star{
  position: relative;
  height: 30px;
    width: 30px;
  left: 625px;
  bottom: -265px;
}


#uranus {
  position: relative;
  height: 30px;
  width: 30px;
  left: 700px; 
  bottom: -50px; 
}

#neptune {
  position: relative;
  height: 30px;
  width: 30px;
  left: -380px; 
   bottom: -20px; 
}

/* #pluto {
  position: relative;
  height: 50px;
  width: 50px;
   left: -560px; 
   bottom: -520px; 
} */

/* #ship {
  position: relative;
  height: 50px;
  width: 50px;
   left: -100px; 
   bottom: -220px;
} */

/* #pluto {
  position:relative;
  height: 100px;
  width: 75px;
  left: -122px;
  bottom: -170px;
} */
/* 
///   POPUP CSS */

#header
{
  font-size: 20px;
  background-color: white;
    font-weight: bold;
  width:300px;
}

#popup #header 
{
/*   color: white; */
  text-align: center;
/*   margin-left:30px; */
}

#content
{
  font-size: 20px;
 font-weight: bold;
  background-color: white;
  width:300px;
  height: auto;
  z-index:-1;
}

#content p
{
  text-align:center;
  padding: 2px;
}

#popup
{
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

/* ALEX MESSING WITH STUFF */

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;
}

#earth {
    /* Style your earth */
    position: absolute;
    top: 0px;
    left: 50%;

    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
}

#earth-orbit {
    /* For Section #2 */

    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    z-index:-1;

  
}

#pluto {
    position: absolute;
    top: 33px;
    left: 80%;

    height: 25px;
    width: 25px;
    margin-left: -25px;
    margin-top: -25px;
}

#pluto-orbit {
    /* For Section #2 */

    position: absolute;
    top: 70%;
    left: 70%;


    width: 300px;
    height: 300px;
    margin-top: -250px;
    margin-left: -250px;
}















  
.control {
    border: 2px dotted white;
    border-radius: 50%;
  }

/* .animate
{
   -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
} 

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
} */ 
