body {
  background-image: url("http://blenderartists.org/forum/attachment.php?attachmentid=144817&d=1308500563");
   background-size: cover;
  background-repeat: no-repeat;
}

#sun {
  position:relative;
  height: 100px;
  width: 100px;
  left: 550px;
   bottom: -180px;
}

#mercury {
  position: relative;
  height: 30px;
  width: 30px;
  left: 580px; 
    bottom: -180px;
}

#venus {
  position: relative;
  height: 30px;
  width: 30px;
  left: 590px; 
    bottom: -90px;
}

#earth {
  position: relative;
  height: 30px;
  width: 30px;
  right: -410px; 
   bottom: -5px;
}

#mars {
  position: relative;
  height: 30px;
  width: 30px;
  left: 200px; 
    bottom: -350px;
}

#jupiter {
  position: relative;
  height: 50px;
  width: 50px;
  left: 500px; 
   bottom: -500px;
}

#saturn {
  position: relative;
  height: 70px;
  width: 70px;
   left: 673px; 
    bottom: -310px; 
}

#uranus {
  position: relative;
  height: 30px;
  width: 30px;
  left: 693px; 
   bottom: -50px; 
}

#neptune {
  position: relative;
  height: 30px;
  width: 30px;
  left: 550px; 
   bottom: 550px; 
}

#pluto {
  position: relative;
  height: 50px;
  width: 50px;
   left: 600px; 
    bottom: 600px; 
}